@model IQueryable<Product>

<section id="item" class="item">
    <div class="container text-center mt-4 mb-5">
        <div class="section-title">
            <h3>Товары</h3>
            <a class="btn btn-primary mt-2" asp-controller="Products" asp-action="Edit">Добавить</a>
        </div>
        <div class="row mt-4">
            @if (Model.Any())
            {
                @foreach (Product product in Model)
                {
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img class="img-fluid" src="~/img/products/@product.ImagePath" alt="Изображение товара @product.Name" />
                                <div class="action">
                                    <a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id" class="btn btn-primary">Подробнее</a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>@product.Name</h4>
                                <label asp-for="@product.Price"></label>
                                <output> @product.Price</output><br />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>