@model IQueryable<Product>

<div>
    <h1>Товары</h1>
    <div class="nav-link active">
        <a asp-controller="Products" asp-action="Edit" asp-route-id="">Добавить</a>
    </div>
    <div>
        @if (Model.Any())
        {
                @foreach (Product product in Model)
                {
                <div style="margin-bottom: 25px; margin-right: 25px">
                    <a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">
                        <img alt="Изображение товара @product.Name" class="img-product, passe-partout" src="~/img/products/@product.ImagePath" alt="" />
                        <h4>@($"{product.Name}")</h4>
                    </a>
                    <label asp-for="@product.Price"></label>
                    <output>: @product.Price</output>
                </div>
                }
        }
    </div>
</div>