@model IQueryable<Product>

<section>
    <div class="row">
        <div class="col-2">
            <h3>Товары</h3>
            <a class="btn btn-primary" asp-controller="Products" asp-action="Edit" asp-route-id="">Добавить</a>
        </div>
        <div class="col-9" >
            @if (Model.Any())
            {
                @foreach (Product product in Model)
                {
                    <div class="col">
                        <div class="card" style="width: 20rem">
                            <a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id">
                                <img class="card-img-top" src="~/img/products/@product.ImagePath" alt="Изображение товара @product.Name" />
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@($"{product.Name}")</h5>
                                <label asp-for="@product.Price"></label>
                                <output>: @product.Price</output><br />
                                <a asp-controller="Products" asp-action="Index" asp-route-id="@product.Id" class="btn btn-primary">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>