@model User

<div class="mt-4 mb-5">
    <h2>@Model.Fullname</h2>
    <p>
        <label asp-for="@Model.UserName"></label>
        <output>: @Model.UserName</output><br />
        <label asp-for="@Model.Position.Name"></label>
        <output>: @Model.Position.Name</output>
    </p>
    <a class="btn btn-primary" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <form style="display: inline-block" asp-controller="Users" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-primary" type="submit">Удалить</button>
    </form>
</div>