@model User

<h1>
    @Model.UserName
</h1>

<section>
    <h2><a asp-controller="Account" asp-action="Index">@Model.UserName</a></h2>
</section>
<ul>
    @if (Model.Salaries != null)
    {
        @foreach (Salary salary in Model.Salaries)
        {
           <li>
               <a asp-controller="Salary" asp-action="Show" asp-route-id="@Model.Id, @salary.Date">@salary.Date</a>
          </li>
        }
    }
</ul>

<p>
    <a asp-controller="Products" asp-action="Index" class="nav-link active" aria-current="page">Товары</a>
    <a asp-controller="Sales" asp-action="Index" class="nav-link active" aria-current="page">Продажи</a>
    <a asp-controller="Salaries" asp-action="Index" class="nav-link active" aria-current="page">Моя заработная плата</a>
</p>

<a asp-controller="Account" asp-action="LogOff">Выйти из учетной запси</a>