@model Category

<div class="mt-4 mb-4">
    <h2>@Model.Name</h2>
    <p>
        <label asp-for="@Model.IsFavorite"></label>
        <output>: @Model.IsFavorite</output>
    </p>
    <a class="btn btn-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <form style="display: inline-block" asp-controller="Categories" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button class="btn btn-primary" type="submit">Удалить</button>
    </form>
</div>