@model IQueryable<Salary>

<div class="text-center mt-4 mb-4">
    <h3>Заработная плата</h3>
    <h4>В текущем расчетном периоде вы заработаете <label style="font-weight: bold">@ViewBag.CurrentSalary</label> рублей</h4>
</div>
<div class="mb-5">
    <h5>Заработные платы</h5>
    @if (Model.Any())
    {
        <div class="list-group">
            @foreach (Salary salary in Model)
            {
                <a class="list-group-item list-group-item-action" asp-controller="Salaries" asp-action="Index" asp-route-year="@salary.Year" asp-route-month="@salary.Month">@salary.Year — @salary.Month</a>
            }
        </div>
     }
</div>