@model Sale

<div>
    <h2>@Model.DateAdded</h2>
    <ul>
        @foreach (SaleProduct saleProduct in Model.SaleProducts)
        {
            <li>
                <a asp-controller="Products" asp-action="Index" asp-route-id="@saleProduct.Product.Id">
                    <img src="~/img/products/@saleProduct.Product.ImagePath" alt="" />
                    <h4>@($"{saleProduct.Product.Name}")</h4>
                </a>
            </li>
        }
    </ul>

    <a asp-controller="Sales" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <form style="display: inline-block" asp-controller="Sales" asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Удалить</button>
    </form>
</div>